@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&display=swap');

* {
  margin: 0;
  font-family: "Ebrima";
  color: #08415C;
  background-color: #D9CAB3;
}

.parent{
  height: 100vh;
}

.mybody{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.navbar{
  padding: 10px;
  display: flex;
  align-items: center;
  margin: 0 auto;
  background-color: #08415C;
}

.navbar h1{
  font-weight: bold;
  color:#5D9BFF;
  background-color: #08415C;
}

.navbar .petConnect{
  font-family: "Dancing Script";
  color:#CC2936;
  background-color: #08415C;
}

.navbar .links{
  margin-left: auto;
  background-color: #08415C;
}

.navbar a{
  margin-left: auto;
  text-decoration: none;
  padding: 6px;
  color: #5D9BFF;
  background-color: #08415C;
}

.navbar a:hover{
  color:#CC2936;
}

.cardbox{
  flex-wrap: wrap;
  display: flex;
  column-gap: 50px;
}

.cardbox .infocard{
  margin: 30px auto;
  width: fit-content;
  height: fit-content;
  padding:10px;
  text-align: center;
  background-color: #08415C;
  border-radius: 50px;
}
.cardbox .infocard .pfp{
  background-color: #CC2936;
  width: 55px;
  height: 55px;
  border-radius: 50%;
  display: inline-block;
  text-align: right;
  vertical-align: middle;
}

.cardbox .infocard button{
  background-color: #FFFFFF;
  color: #5D9BFF;
  font-weight: bold;
  border: 0;
  border-radius: 5px;
}

.cardbox .infocard h1{
  font-size: 20px;
  background-color: #08415C;
  color: #CC2936;
  margin-bottom: 0px;
}

.cardbox .infocard h2{
  font-size: 16px;
  background-color: #08415C;
  color: #CC2936;
  width: 40%;
  display: inline-block;
  text-align: left;
  vertical-align: top;
  margin-bottom: 10px;
}

.cardbox .infocard p{
  font-size: 14px;
  background-color: #08415C;
  color: #5D9BFF;
  width: 40%;
  display: inline-block;
  text-align: right;
  vertical-align: middle;
  margin-bottom: 10px;
}

.cardbox .infocard .info{
  background-color: #08415C;
  border-radius: 50px;
}

.cardbox .infocard .name{
  background-color: #08415C;
  border-radius: 50px;
}

.inputcard{
  width: 450px;
  height: 450px;
  padding:20px;
  padding-top: 30px;
  text-align: center;
  background-color: #08415C;
  border-radius: 50px;
}

.inputcard input{
  display: block;
  text-align: center;
  margin: 20px auto;
  padding:14px 10px;
  background-color: rgba(255,255,255,.2);
  border-radius: 5px;
  border:2px solid #FFFFFF;
  width: 398px;
  height: 55px;
  color: #FFFFFF;
}

.inputcard input::placeholder{
  color: #FFFFFF;
}

.inputcard input:hover{
  background-color: #FFFFFF;
  color: #08415C;
}

.inputcard input:hover::placeholder{
  color: #08415C;
}

.inputcard button{
  background-color: #FFFFFF;
  color: #5D9BFF;
  font-weight: bold;
  width: 398px;
  height:55px;
  border: 0;
  border-radius: 5px;
}

.inputcard button:hover{
  background-color: #5D9BFF;
  color: #FFFFFF;
}

.inputcard h2{
  font-family: "Dancing Script";
  font-weight: bold;
  color: #CC2936;
  background-color: #08415C;
  font-size: 50px;
  margin-bottom: 40px;
}

.inputcard h1{
  font-family: "Dancing Script";
  font-weight: bold;
  color: #CC2936;
  background-color: #08415C;
  font-size: 72px;
  margin-bottom: 40px;
}

.inputcard .links{
  margin: auto;
  background-color: #08415C;
  width: 398px;
}

.inputcard a{
  background-color: #08415C;
  text-decoration: none;
  color: #FFFFFF;
  padding-top: 20px;
}

.inputcard a:hover{
  color:#CC2936;
}

.inputcard .signup{
  float: left;
}

.inputcard .forgot{
  float:right;
}

.searchcard{
  width: 550px;
  height: 550px;
  padding:20px;
  padding-top: 40px;
  text-align: center;
  background-color: #08415C;
  border-radius: 50px;
  margin: auto;
  position: absolute;
  top: 67%;
  transform: translate(25%,-67%);
}

.searchcard input{
  display: block;
  text-align: center;
  margin: 20px auto;
  padding:14px 10px;
  background-color: rgba(255,255,255,.2);
  border-radius: 5px;
  border:2px solid #FFFFFF;
  width: 398px;
  height: 55px;
  color: #FFFFFF;
}

.searchcard input::placeholder{
  color: #FFFFFF;
}

.searchcard input:hover{
  background-color: #FFFFFF;
  color: #08415C;
}

.searchcard input:hover::placeholder{
  color: #08415C;
}

.searchcard button{
  background-color: #FFFFFF;
  color: #5D9BFF;
  font-weight: bold;
  width: 398px;
  height:55px;
  border: 0;
  border-radius: 5px;
}

.searchcard button:hover{
  background-color: #5D9BFF;
  color: #FFFFFF;
}

.searchcard h1{
  font-family: "Dancing Script";
  font-weight: bold;
  color: #CC2936;
  background-color: #08415C;
  font-size: 50px;
  margin-bottom: 40px;
}

.searchcard .links{
  margin: auto;
  background-color: #08415C;
  width: 398px;
}

.searchcard a{
  background-color: #08415C;
  text-decoration: none;
  color: #FFFFFF;
  padding-top: 20px;
}

.searchcard a:hover{
  color:#CC2936;
}

.signup{
  text-align: center;
}

.signup h1{
  font-family: "Dancing Script";
  font-weight: bold;
  text-align: center;
  color:#CC2936;
  font-size: 60px;
  padding: 5px;
}

.signup h2{
  font-family: "Dancing Script";
  font-weight: bold;
  text-align: center;
  color:#08415C;
  font-size: 54px;
}

.signup .petconnect{
  color: #5D9BFF;
}

.signup .inputs{
  
  padding-left: 150px;
  padding-right: 150px;
  display: flex;
  flex-wrap: wrap;
  column-gap: 200px;
  row-gap: 15px;
}

.signup input{
  display: block;
  text-align: left;
  margin: 20px auto;
  padding:14px 10px;
  background-color: rgba(255,255,255,.2);
  border-radius: 5px;
  border:2px solid #FFFFFF;
  width: 398px;
  height: 55px;
  color: #08415C;
}

.signup input::placeholder{
  color: #08415C;
}

.signup input:hover{
  background-color: #FFFFFF;
  color: #08415C;
}

.signup input:hover::placeholder{
  color: #08415C;
}

.signup button{
  background-color: #FFFFFF;
  color: #08415C;
  font-weight: bold;
  width: 398px;
  height:55px;
  border: 0;
  border-radius: 5px;
  margin-top:20px;
}

.signup button:hover{
  background-color: #08415C;
  color: #FFFFFF;
}

.content{
  margin: 2px;
  padding: 2px;
}